
/* Variables */

$black: #272a31;
$orange: #ec5242;
$white: #d3d3d3;

/* mixins */

@mixin divisor {
  border: 1px solid $orange;
  background-color: $orange;
  width: 50px;
  opacity: 1;
}

@mixin section-title {
  color: $white;
  font-weight: bold;
  padding-top: 20%;
  text-align: center;
}

@mixin section-description ($color) {
  font-size: 15px;
  color: $color;
  margin-top: 24px;
  width: 90%;
}

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
}

/********** This is the mobile section until 768px *********************/
nav {
  height: 66px;
  align-items: center;

  .nav-navigation-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #d3d3d3f1;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;

    li {
      margin-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $orange;

      a {
        text-decoration: none;
        color: black;
      }
    }

    #nav-logo {
      border-bottom: none;
      position: fixed;
      top: 50px;
      height: auto;

      img {
        width: 150px;
      }
    }
  }

  .nav-navigation-mobile.is-active {
    transform: translateX(0);
  }

  .nav-navigation {
    display: none;
  }

  .logo-link {
    display: none;
  }

  .campaign {
    display: none;
  }

  .burger-menu {
    display: flex;
    height: 20px;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    z-index: 1;

    .burger-bar {
      height: 5px;
      width: 20px;
      background-color: $black;
      transition: transform 1s ease-in-out;
    }
  }

  .burger-menu.is-active .burger-bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.is-active .burger-bar:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
  }

  .burger-menu.is-active .burger-bar:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
  }
}

/************ Here start header ******************/

header {
  height: 55vh;
  background-image: url(../Images/about_bg_01.png);
  background-position-x: left;
  text-align: center;
  align-items: center;

  #header-subtitle {
    color: $orange;
  }

  #header-title {
    color: $orange;
    font-weight: 900;
  }

  #header-description {
    @include section-description($black);
    border: 1px solid $white;
    background-color: white;
  }

  .header-contact {
    width: 80%;
  }
}

/************ Here start logo section ****************/

.logo-section {
  height: auto;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;

  .logo-title {
    @include section-title;
    color: $black;
    width: 70%;
  }

  .divisor {
    @include divisor;
  }

  .logo-container {
    width: 80%;
    background-color: white;
    border: 1px solid $white;
    margin-top: 24px;
    margin-bottom: 20%;

    .logo-section-img {
      width: 90%;
    }
  }

  .logo-description {
    @include section-description($black);
  }
}

/************ Here start past camp section ****************/

.past-camps-section {
  height: auto;

  .past-camps-title {
    @include section-title;
    color: $black;
    width: 90%;
  }

  .divisor {
    @include divisor;
  }

  .past-camps-description {
    @include section-description($black);
  }

  .examples-past-camps {
    width: 90%;
    margin-bottom: 20%;
    cursor: pointer;

    .camp-2015 {
      background: url(../Images/pexels-photo-3776838.jpeg) no-repeat 0, 0 #ec5242;
      background-blend-mode: multiply;
      background-size: cover;
      width: 100%;
      height: 250px;
      transition: transform 0.5s ease;
    }

    .camp-2018 {
      background: url(../Images/pexels-vishnu-r-nair-1105666.jpg) no-repeat 0, 0 #ec5242;
      background-size: cover;
      background-blend-mode: multiply;
      height: 250px;
      margin-top: 24px;
      width: 100%;
      transition: 0.5s ease;
    }
  }

  .camp-2018:hover {
    transform: scale(1.1);
  }

  .camp-2015:hover {
    transform: scale(1.1);
  }
}

.past-camp-date {
  font-size: 2rem;
  font-weight: 700;
  color: $white;
}

.past-camp-location {
  font-size: 1rem;
  font-weight: normal;
  color: $white;
}

/********* Here starts sponsor section ***********/

.sponsors {
  height: auto;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sponsors-title {
    @include section-title;
  }

  .divisor {
    @include divisor;
    width: 50px;
  }

  .sponsors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .sponsor-img {
    max-width: 80%;
    height: auto;
    margin-top: 40px;
  }
}

/**************** Here start footer section ***********************/

footer {
  height: 30vh;
  background-color: $black;
  color: $white;

  #creative-commons-logo {
    width: 30%;
    height: auto;
    margin-right: 50px;
    margin-left: 24px;
  }

  p {
    margin-right: 24px;
  }
}

/**************** Here start desktop version ***********************/

@media screen and (min-width: 768px) {

  nav {
    height: 66px;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid $white;

    .nav-navigation-mobile {
      display: none;
    }

    .nav-navigation {
      margin-left: 30%;
      margin-right: 1%;
      display: flex;
      flex-basis: 30%;
      height: 30px;
      margin-top: 20px;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: $black;
        margin-left: 12px;
        margin-right: 12px;
      }

      a:hover {
        text-decoration: underline;
        text-decoration-color: $orange;
      }

      a:active {
        color: $orange;
      }

      .actual-page {
        color: $orange;
        font-weight: 700;
      }
    }

    .logo-link {
      height: 66px;
      width: 70px;
      align-items: center;
      display: flex;
      margin-left: 15%;

      .logo-img {
        height: 50px;
        width: auto;
        transition: transform 0.5s ease-in-out;
      }

      .logo-img:hover {
        transform: scale(1.1);
      }
    }

    .campaign {
      display: block;
      margin-top: 0;
      height: 50px;
      width: 140px;
      border: 5px solid $orange;
      margin-right: 15%;
    }

    .burger-menu {
      display: none;
    }
  }

  /************ Here start header ******************/

  header {
    height: 100vh;
    background-image: url(../Images/about_bg_01.png);
    background-color: #d3d3d392;
    background-blend-mode: multiply;
    background-position-x: left;
    text-align: center;
    align-items: center;

    #header-subtitle {
      color: $orange;
      font-size: 2rem;
    }

    #header-title {
      font-size: 4rem;
    }

    #header-description {
      @include section-description($black);
      border: 4px solid $white;
      background-color: white;
      width: 60%;
      height: 20%;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  /************ Here start logo section ****************/

  .logo-section {
    height: auto;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;

    .logo-title {
      @include section-title;
      color: $black;
      padding: 0;
      margin-top: 50px;
    }

    .divisor {
      @include divisor;
      margin-top: 24px;
    }

    .logo-description {
      width: 50%;
    }

    .logo-container {
      width: 25%;
      margin-bottom: 50px;
    }
  }

  /************ Here start past camp section ****************/

  .past-camps-section {
    height: auto;

    .past-camps-title {
      @include section-title;
      padding: 0;
      margin-top: 50px;
      color: $black;
    }

    .divisor {
      @include divisor;
      margin-top: 24px;
    }

    .past-camps-description {
      @include section-description($black);
      width: 30%;
    }

    .examples-past-camps {
      width: 60%;
      margin-bottom: 10%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      gap: 24px;

      .camp-2018 {
        margin-top: 0;
      }
    }
  }

  .past-camp-date {
    font-size: 2rem;
    font-weight: 700;
    color: $white;
  }

  .past-camp-location {
    font-size: 1rem;
    font-weight: normal;
    color: $white;
  }

  #sponsors-about {
    display: none;
  }

  footer {
    #creative-commons-logo {
      width: 10%;
    }
  }
}
