
/* Variables */

$black: #272a31;
$orange: #ec5242;
$white: #d3d3d3;

/* mixins */

@mixin divisor {
  border: 1px solid $orange;
  background-color: $orange;
  width: 50px;
  opacity: 1;
  margin-top: -2px;
}

@mixin section-title {
  color: $white;
  font-weight: bold;
  padding-top: 20%;
  text-align: center;
}

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/********** This is the mobile section until 768px *********************/

nav {
  height: 66px;
  align-items: center;

  .nav-navigation-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #d3d3d3f1;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;

    li {
      margin-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $orange;

      a {
        text-decoration: none;
        color: black;
      }
    }

    #nav-logo {
      border-bottom: none;
      position: fixed;
      top: 1%;
      height: auto;

      img {
        width: 150px;
        transition: transform 0.5s ease-in-out;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }

  .nav-navigation-mobile.is-active {
    transform: translateX(0);
  }

  .nav-navigation {
    display: none;
  }

  .logo-link {
    display: none;
  }

  .campaign {
    display: none;
  }

  .burger-menu {
    display: flex;
    height: 20px;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
    z-index: 1;

    .burger-bar {
      height: 5px;
      width: 20px;
      background-color: $black;
      transition: transform 1s ease-in-out;
    }
  }

  .burger-menu.is-active .burger-bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.is-active .burger-bar:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
  }

  .burger-menu.is-active .burger-bar:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
  }
}

/************ Here start header ******************/

header {
  height: auto;
  background-image: url(../Images/mobile-header.png);
  background-position-x: center;
  text-align: left;

  #header-title,
  #header-subtitle,
  #header-description {
    margin-left: 19px;
    margin-right: 19px;
  }

  #header-title {
    font-family: 'Lato', sans-serif;
    color: $orange;
    border: 5px solid transparent;
    font-weight: 900 !important;
    font-size: 2rem;
  }

  #header-subtitle {
    font-size: 1.5rem;
    border: 5px solid transparent;
    color: $orange;
  }

  #header-description-container {
    border: 5px solid $white;
    width: 90%;
    margin-left: 19px;
  }

  #location {
    border: none;
    text-align: center;
    margin-top: 24px;

    #location-date {
      font-weight: 700;
      color: $black;
    }
  }
}

/* Here start main section */

main {
  height: auto;
  background-color: $black;
  background-image: url(/Images/pattern_bg.png);
  align-items: center;
  color: $white;

  #main-title {
    @include section-title;
  }

  .divisor {
    @include divisor;
  }

  .activities-grid {
    width: 100%;
    margin-top: 10%;
    flex-direction: column;
  }

  .activity {
    height: 120px;
    width: 90%;
    background-color: #d3d3d327;
    text-align: center;
    align-items: center;
    margin-top: 5%;

    #activity-img {
      flex-basis: 20%;
      margin-left: 4px;
    }

    #activity-title {
      color: $orange;
      flex-basis: 30%;
      margin-left: 3px;
    }

    #activity-description {
      flex-basis: 50%;
      margin-left: 3px;
      width: 50%;
    }
  }
}

#join-btn {
  color: $white;
  padding: 20px;
  margin-top: 2rem;
  background-color: $orange;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 20%;
}

/********* Here start featured teachers section ***********/

.featured-teachers {
  #featured-title {
    @include section-title;

    color: $black;
  }

  .divisor {
    @include divisor;
  }
}

.teachers-grid {
  width: 95%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  .teacher-img {
    width: 120px;
    height: 120px;
    margin-right: 24px;
  }

  .teacher-name {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
  }

  .teacher-position {
    font-size: 15px;
    margin: 0;
    color: $orange;
    margin-top: 5px;
  }

  .teacher-description {
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
    font-weight: normal;
  }

  .teacher-div {
    width: 50px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: normal;
    font-style: italic;
  }
}

/**************** Here start sponsor section ***********************/

#sponsors-home {
  display: none;
  background-color: $black;
}

/**************** Here start footer section ***********************/

footer {
  height: 20vh;
  border-top: 2px solid $white;
  background-color: $white;

  #creative-commons-logo {
    width: 30%;
    height: auto;
    margin-right: 24px;
    margin-left: 24px;
  }

  p {
    margin-right: 24px;
  }
}

/**************** Here start desktop version ***********************/

@media screen and (min-width: 768px) {
  nav {
    height: 66px;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid $white;

    .nav-navigation-mobile {
      display: none;
    }

    .nav-navigation {
      margin-left: 30%;
      margin-right: 1%;
      display: flex;
      flex-basis: 30%;
      height: 30px;
      margin-top: 20px;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: $black;
        margin-left: 12px;
        margin-right: 12px;
      }

      a:hover {
        text-decoration: underline;
        text-decoration-color: $orange;
      }

      a:active {
        color: $orange;
      }
    }

    .logo-link {
      height: 66px;
      width: 70px;
      align-items: center;
      display: flex;
      margin-left: 15%;

      .logo-img {
        height: 50px;
        width: auto;
        transition: transform 0.5s ease-in-out;
      }

      .logo-img:hover {
        transform: scale(1.1);
      }
    }

    .campaign {
      display: block;
      margin-top: 0;
      height: 50px;
      width: 140px;
      border: 5px solid $orange;
      margin-right: 15%;
    }

    .burger-menu {
      display: none;
    }
  }

  /************ Here start header ******************/

  header {
    height: 100vh;
    background-image: url(../Images/header-background.png);
    text-align: left;

    #header-title,
    #header-subtitle,
    #header-description {
      margin-left: 15%;
    }

    #header-title {
      font-size: 5rem;
    }

    #header-subtitle {
      font-size: 2rem;
    }

    #header-description-container {
      width: 45%;
      margin-left: 15%;
      background-color: white;

      #header-description {
        font-size: 1rem;
        margin-left: 15px;
        margin-top: 15px;
      }
    }

    #location {
      border: none;
      width: 40%;
      margin-left: 15%;
      text-align: left;
      margin-top: 24px;
    }
  }

  /* Here start main section */

  main {
    height: 70vh;

    #main-title {
      padding: 0;
      margin-top: 50px;
    }

    .activities-grid {
      margin-top: 2rem;
      flex-direction: row;
      gap: 3px;
      justify-content: center;
    }

    .activity {
      height: 200px;
      width: 15%;
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin-top: 0;
      justify-content: center;

      #activity-title {
        color: $orange;
        flex-basis: 0;
      }

      #activity-description {
        flex-basis: 0;
        width: 90%;
      }

      #activity-image {
        flex-basis: 0;
      }
    }
  }

  #join-btn {
    color: $white;
    padding: 0;
    margin-top: 2rem;
    background-color: transparent;
    text-decoration: underline;
  }

  /********* Here start featured teachers section ***********/

  .featured-teachers {
    #featured-title {
      @include section-title;

      color: $black;
      padding: 0;
      margin-top: 50px;
    }

    .divisor {
      @include divisor;
    }

    .teacher {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  .teachers-grid {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;

    .teacher-img {
      width: 200px;
      height: 200px;
    }
  }

  /***************** Here start sponsors section *********************/

  #sponsors-home {
    display: flex;
    height: auto;
    flex-direction: column;

    .sponsors-title {
      @include section-title;

      padding: 0;
      margin-top: 50px;
    }

    .divisor {
      @include divisor;
    }

    .sponsors-container {
      margin-bottom: 50px;

      .sponsor-img {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }

  footer {
    background-color: white;
  }
}
